body {
    font-family: Arial;
}

.servicesDiv{
    margin-top: 25px; 
    padding: 25px; 
    text-shadow: 0px 0px 1px; 
    display: flex; 
    justify-content: center;
}

.servicesDiv>a {
    border: 2px solid;
    margin: 5px;
    text-align: center;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    font-size: 18px;
}

.navBar:link {
    color: black;
    background-color: none;
    text-decoration: none;
}

.navBar:visited {
    color: black;
    background-color: none;
    text-decoration: none;
}

.navBar:hover {
    color: black;
    background-color: none;
    text-decoration: none;
    box-shadow: 0px 0px 10px black;
}

.navBar:active {
    color: black;
    background-color: none;
    text-decoration: none;
    box-shadow: 0px 0px 10px black;
    font-size: 20px;
}

.servicesA:link {
    color: black;
    background-color: none;
    text-decoration: none;
}

.servicesA:visited {
    color: black;
    background-color: none;
    text-decoration: none;
}

.servicesA:hover {
    color: black;
    background-color: none;
    text-decoration: none;
    box-shadow: 0px 0px 10px black;
}

.servicesA:active {
    color: black;
    background-color: none;
    text-decoration: none;
    box-shadow: 0px 0px 10px black;
    font-size: 20px;
}
